.sheyi-button.btn {
  background-color: var(--secondary-color);
  border-radius: 50px;
  border: none;
  padding: 12px 24px;
  width: fit-content;
  color: var(--color-white);
  font-weight: 700;
}

.sheyi-button.btn:hover {
  background-color: var(--color-white);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.sheyi-button.btn:focus {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .sheyi-button.btn {
    padding: 18px 36px;
  }
}
