@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Raleway:wght@300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  overflow-x: hidden;
}
:root {
  --primary-color: #3b40e2;
  --secondary-color: #719e50;
  --color-white: #ffffff;
  --color-black: #000000;
  --icon-color: #bcbff6;
}

body {
  background-color: var(--color-white);
}

.sheyi-logo,
.sheyi-logo span {
  font-family: "Pattaya", sans-serif;
  color: var(--secondary-color);
}

a,
button,
h1,
h2,
h3,
h4,
h5,
p,
span,
label,
input {
  font-family: "Raleway", sans-serif;
}
